# Database
DATABASE_PATH=defender.db

# Vertex
VERTEX_SORT=globalPagerank
VERTEX_THRESHOLD=0.000005
VERTEX_REQUEST_TIMEOUT=10s
VERTEX_CACHE_EXPIRATION=24h
VERTEX_CACHE_SIZE=100000
VERTEX_SECRET_KEY="<your 32-byte hex key>" # Required

# HTTP Server
HTTP_ADDR=localhost:8080
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=120s
HTTP_SHUTDOWN_TIMEOUT=5s
HTTP_MAX_BODY_BYTES=1048576
